:root {
    --basic-red: #FB565A;
    --basic-light-gray: #EEEEEE;
    --basic-gray: #888888;
    --basic-white: #FFFFFF; 
    --basic-black: #000000;
    --basic-dark: #283136;
    --basic-extra-gray: #4D4D4D;
  }

.page-body {
  width: 1158px;
  margin: 0;
  padding: 0;  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

.main-header,
.title {
  background-color: var(--basic-light-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header-logo {
  outline: 2px solid gold;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase; 
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  grid-template-rows: 1fr;
  width: 1159px;
  margin: 49px auto 0 auto;
  padding: 0 10px;
  outline: 3px solid blue;
}

.basket {
  outline: 2px solid gold;
} 

 .site-navigation,
.technologies-list,
.design-list,
.conditions-list,
.logotips-list,
.footer-social ul,
.conditions-item,
.different-list,
.cell,
.features-list,
.subsection-list,
.list-site,
.page-list,
.pointer {
  list-style: none;
  margin: 0;
  padding: 0;
 }

.site-navigation a,
.basket {
  color: var(--basic-black);
}

h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-light-gray)
}

.title {
  display: grid;
  grid-template-columns: 1fr 760px;
  grid-template-rows: 1fr;
  width: 1159px;
  margin: 9px auto 0 auto;
  padding: 0 10px;
  outline: 3px solid blue; 
}

.button {
  font: inherit;
  background-color: var(--basic-red);
  border-radius: 3px;
  text-transform: uppercase; 
  text-align: center;
  font-weight: 500;
  line-height: 18px;
  border: none;
}

.button-green {
  background-color: #00CA74;
}

.button-yellow {
  background-color: #EFC849;
}

.technologies-list {
  outline: 3px solid blue;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 1100px;
  margin: 80px 200px 80px 140px;
  padding: 0 10px;
}

.technologies-item-veb {
  outline: 2px solid gold;  
}

.technologies-item-top {
  outline: 2px solid gold;
}
.technologies-item-presents {
  outline: 2px solid gold;
}

.wrapper {
  outline: 3px solid blue;
  display: grid;
  grid-template-columns:  651px 360px;
  grid-template-rows: 1fr;
  width: 1174px;
  margin: 39px 140px 73px 140px;
  padding: 0 10px;
}
 
.design {
  outline: 2px solid gold;
}

.conditions {
  outline: 2px solid gold;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase; 
  color: var(--basic-black);
}

h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.list {
  color: var(--basic-dark);
}

h4 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.conditions-item {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

sup {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.conditions-text,
.contacts-text {
  line-height: 18px;
 }

 .logotips-list {
  outline: 3px solid blue;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 1159px;
  margin: 52px 141px 80px 141px;
  padding: 0 10px;
 }

  .contacts-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black)
 }  

.contacts-phone {
  color: inherit;
}

.social-button {
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), var(--basic-white);
}

.main-footer {
  outline: 3px solid blue;
  display: grid;
  grid-template-columns:  1fr 660px;
  grid-template-rows: 1fr;
  width: 1060px;
  margin: 75px 240px 74px 140px;
  padding: 0 10px;
}

.footer-social {
  outline: 2px solid gold;
}

.discount {
  outline: 2px solid gold;
}

.footer-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-text {
  line-height: 22px;
  color: #444444;
}

.modal {
  background-color: var(--basic-white);
  width: 960px;
  height: 590px;
  outline: 2px solid blue;
}

.modal-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black); 
}

.modal-description {
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-black);
}

.modal-form input [type="text"] {
  line-height: 18px;
  color: #444444;
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: var(--basic-white);
}

.container {
  display: grid;
  outline: 2px solid blue;
  outline-offset: -5px;
}

h1 {
  outline: 2px solid gold;
  outline-offset: -5px;
}

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 1fr;
  margin: 55px 141px 60px 140px; 
  outline: 3px solid pink;
  outline-offset: -5px;
}

.blocks {
  outline: 2px solid gold;
  outline-offset: -5px;
  width: 260px;
}

.price {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.slider {
  width: 260px;
  height: 80px;
  background-color: var(--basic-light-gray);
  border-radius: 3px;
}

.different-list {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.cell,
.features-list {
  line-height: 20px;
}

.button-gray {
  background-color: var(--basic-light-gray);
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
}

.content {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.subsection {
  display:grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 30px 1fr 50px;
  width: 761px;
  grid-column-gap: 41px;
  margin: 55px 141px 60px 140px;
  outline: 2px solid red;
  outline-offset: -5px;
}

.subsection-list {
  outline: 2px solid gold;
  width: 
  grid-column: 1 / 2 2 / 3;
  
  grid-row: 1 / 2;
  margin-bottom: 48px;
  width: 761px;
}

.subsection-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.subsection-item-gray {
  color: var(--basic-gray);
}

.info-site {
  background-color: var(--basic-light-gray);
  display: grid;
  outline: 2px solid gold;
}

.introduction {
  line-height: 18px;
  color: #666666;
}

.list-site {
  display:grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row: 2 / 3;
  grid-column-gap: 40px;
  grid-row-gap: 31px;
  width: 760px;
  margin-bottom: 55px;
}

.page-list {
  background-color: var(--basic-light-gray);
  border-radius: 3px;
  display:grid;
  grid-template-columns:  50px 50px 50px 260px;
  grid-template-rows: 1fr;
  grid-column-gap: 11px;
  width: 443px;
  height: 50px;
  outline: 1px solid blue;
}

.page-list-item {
  outline: 2px solid gold; 
}

.next {
  line-height: 18px;
  color: var(--basic-black);
}






