:root {
    --basic-red: #FB565A;
    --basic-light-gray: #EEEEEE;
    --basic-gray: #888888;
    --basic-white: #FFFFFF; 
    --basic-black: #000000;
    --basic-dark: #283136;
    --basic-extra-gray: #4D4D4D;
}

body {
  width: 1200px;
  margin: 0;
  padding: 0;  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.main-header,
.title {
  background-color: var(--basic-light-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase; 
}

.site-navigation,
.technologies-list,
.design-list,
.conditions-list,
.logotips-list,
.footer-social ul,
.conditions-item,
.different-list,
.cell,
.features-list,
.subsection-list,
.list-site,
.page-list,
.pointer {
  list-style: none;
 }

.site-navigation a,
.basket {
  color: var(--basic-black);
}

h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-light-gray)
}

.button {
  font: inherit;
  background-color: var(--basic-red);
  border-radius: 3px;
  text-transform: uppercase; 
  text-align: center;
  font-weight: 500;
  line-height: 18px;
  border: none;
}

.button-green {
  background-color: #00CA74;
}

.button-yellow {
  background-color: #EFC849;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase; 
  color: var(--basic-black);
}

h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.list {
  color: var(--basic-dark);
}

h4 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.conditions-item {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

sup {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.conditions-text,
.contacts-text {
  line-height: 18px;
}

.contacts-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black)
}  

.contacts-phone {
  color: inherit;
}

.social-button {
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), var(--basic-white);
}

.footer-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-text {
  line-height: 22px;
  color: #444444;
}

.modal {
  background-color: var(--basic-white);
}

.modal-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.modal-description {
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-black);
}

.modal-form input [type="text"] {
  line-height: 18px;
  color: #444444;
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: var(--basic-white);
}

.price {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.slider {
  width: 260px;
  height: 80px;
  background-color: var(--basic-light-gray);
  border-radius: 3px;
}

.different-list {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.cell,
.features-list {
  line-height: 20px;
}

.button-gray {
  background-color: var(--basic-light-gray);
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
}

.content {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.subsection-item {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
}

.subsection-item-gray {
  color: var(--basic-gray);
}

.info-site {
  background-color: var(--basic-light-gray);
}

.introduction {
  line-height: 18px;
  color: #666666;
}

.price {
  line-height: 18px;
  color: var(--basic-white);
}

.page-list {
  background-color: var(--basic-light-gray);
  border-radius: 3px;
}

.next {
  line-height: 18px;
  color: var(--basic-black);
}
