:root {
    --basic-red: #FB565A;
    --basic-light-gray: #EEEEEE;
    --basic-gray: #888888;
    --basic-white: #FFFFFF; 
    --basic-black: #000000;
    --basic-dark: #283136;
    --basic-extra-gray: #4D4D4D;
  }

.page-body {
  width: 1159px;
  margin: 0;
  padding: 0;  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

.main-header,
.title {
  background-color: var(--basic-light-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  display: flex; 
  width: 1159px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 49px 140px 0 140px;
  outline: 2px solid gold;
  }

  .site-navigation {
    display: flex;
    width: 440px;
    height: 30px;
    margin: 0;
    padding: 0;
    outline: 2px solid gold;
    justify-content: space-between;
  }

  .site-navigation li {
    margin-left: 45px;
  }

  .site-navigation li:first-child {
    margin-left: 0;
  }

.basket {
  display: flex;
  width: 115px;
  min-height: 30px;
  outline: 2px solid gold;
  margin-left: 246px;
} 

.basket img {
  margin-right: 25px;
}

.site-navigation,
.technologies-list,
.design-list,
.conditions-list,
.logotips-list,
.footer-social ul,
.conditions-item,
.different-list,
.cell,
.features-list,
.subsection-list,
.list-site,
.page-list,
.pointer {
  list-style: none;
  margin: 0;
  padding: 0;
 }

.site-navigation a,
.basket {
  color: var(--basic-black);
}

h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-light-gray)
}

.title {
  display: grid;
  grid-template-columns: 1fr 760px;
  grid-template-rows: 1fr;
  width: 1157px;
  margin-top: 9px;
  padding: 0 143px 0 140px;
  outline: 3px solid blue;
}

.button {
  font: inherit;
  background-color: var(--basic-red);
  border-radius: 3px;
  text-transform: uppercase; 
  text-align: center;
  font-weight: 500;
  line-height: 18px;
  border: none;
}

.button-green {
  background-color: #00CA74;
}

.button-yellow {
  background-color: #EFC849;
}

.technologies-list {
  outline: 3px solid blue;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 1100px;
  margin: 80px 200px 80px 140px;
  padding: 0 2px;
}

.technologies-item-veb {
  outline: 2px solid gold;  
}

.technologies-item-top {
  outline: 2px solid gold;
}
.technologies-item-presents {
  outline: 2px solid gold;
}

.wrapper {
  outline: 3px solid blue;
  display: flex;
  width: 1174px;
  margin: 39px 126px 73px 140px;
  padding: 0 5px;
}
 
.design {
  outline: 2px solid gold;
  width: 651px;
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.conditions {
  display: flex;
  flex-direction: column;
  margin: 0 14px 0 149px;
  outline: 2px solid gold;
  text-align: center;
  width: 360px;
 }

.new-technologies {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase; 
  color: var(--basic-black);
}

h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.visually-hidde {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  color: var(--basic-dark);
}

h4 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.conditions-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 380px;
  flex-wrap: nowrap;
 }
  
.conditions-item {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  text-align: left;
  margin: 0;
  padding: 0;
}

sup {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.conditions-text {
  margin: 0;
  padding: 0;
  text-align: left;
} 

.conditions-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark);
  font-weight: 400;
}

.contacts-text {
  line-height: 18px;
 }

 .logotips-list {
  outline: 3px solid blue;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 1159px;
  margin: 52px auto 80px auto;
  padding: 0 10px;
 }

 .contacts {
   display: flex;
   flex-direction: row;
   
 }

 .contacts-block {
  width: 319px;
  height: 308px;
  outline: 3px solid gold;
  padding: 0;
  margin: 54px 981px 54px 140px;
  position: absolute;
  background-color: var(--basic-white);
  text-align: center;
  z-index: 2;
 }

  .contacts-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black)
 }  

.contacts-phone {
  color: inherit;
}

.contacts-logo {
  position: absolute;
  width: 231px;
  height: 190px;
  margin: 70px 362px 156px 847px;
  outline: 2px solid gold;
}

.social-button {
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), var(--basic-white);
}

.main-footer {
  outline: 3px solid blue;
  width: 1060px;
  margin: 75px 240px 74px 140px;
  padding: 0 5px;
}

.footer-social {
  outline: 2px solid gold;
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 81px;
}

.social-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 261px;
  padding: 0;
  margin: 0;
  }

  .discount {
  outline: 2px solid gold;
  outline-offset: -2px;
  width: 660px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
  margin-left: 139px;
}

.footer-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.footer-text {
  line-height: 22px;
  color: #444444;
  padding: 0;
  margin-top: 10px;
}

.modal {
  background-color: var(--basic-white);
  width: 960px;
  height: 590px;
  outline: 2px solid blue;
}

.modal-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black); 
}

.modal-description {
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-black);
}

.modal-form input [type="text"] {
  line-height: 18px;
  color: #444444;
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: var(--basic-white);
}

.container {
  display: grid;
  outline: 2px solid blue;
  outline-offset: -5px;
}

.title-catalog {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
  outline: 2px solid gold;
  outline-offset: -5px;
  margin: 0;
  padding: 72px 356px 108px 357px;
}

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 1fr;
  margin: 55px 141px 60px 140px; 
  outline: 3px solid pink;
  outline-offset: -5px;
}

.blocks {
  outline: 2px solid gold;
  outline-offset: -5px;
  width: 260px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.price {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.product-price {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  padding: 0;
  margin: 0 80px 44px 80px;
  width: 200px;
  height: 50px;
  background-color: var(--basic-red);
  display: block;
}

.slider {
  width: 260px;
  height: 80px;
  background-color: var(--basic-light-gray);
  border-radius: 3px;
  margin-top: 48px;
}

.different-list {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-dark);
  margin-top: 14px;
}

.different-list-item {
  width: 80px;
  height: 38px;
  margin: 0 33px 54px 11px;
}

.different-list-item:last-child {
  margin-right: 0;
}

.cell,
.features-list {
  line-height: 20px;
}

.cell {
  margin-bottom: 47px;
}

.button-gray {
  background-color: var(--basic-light-gray);
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
  margin-top: 50px;
  padding: 0;
}

.content {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0 0 12px 0;
  padding: 0;
  text-align: center;
}

.subsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 1fr 50px;
  width: 761px;
  grid-column-gap: 41px;
  grid-row:  1 / 2 2 /3 3 / 4;
  margin: 0 141px 60px 141px;
  padding: 0;
  outline: 2px solid red;
  }

.subsection-menu {
  display: flex;
  flex-direction: row;
  }

.subsection-list {
  display: flex;
  flex-direction: row;
  width: 272px;
  justify-content: space-between;
  margin-left: 266px;
  margin-right: 47px;
}

.subsection-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  align-self: flex-end;
}

.subsection-item-gray {
  color: var(--basic-gray);
}

.pointer {
  display: flex;
  flex-direction: row;
  width: 40px;
  justify-content:space-between ;
}

.pointer-list {
  align-self: flex-end;
}

.info-site {
  background-color: var(--basic-light-gray);
  display: grid;
  outline: 2px solid gold;
  width: 360px;
  height: 231px;
 }

.introduction {
  line-height: 18px;
  color: #666666;
  text-align: center;
  padding: 0;
  margin: 0 53px 32px 52px;
}

.list-site {
  display:grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row: 2 / 3;
  grid-column-gap: 40px;
  grid-row-gap: 31px;
  width: 760px;
  margin: 48px 0 55px 0;
  z-index: 3;
  outline: 2px solid red;
  outline-offset: -5px;
}

.page-list {
  background-color: var(--basic-light-gray);
  border-radius: 3px;
  display: grid;
  grid-template-columns:  50px 50px 50px 260px;
  grid-template-rows: 1fr;
  grid-row: 3 / 4;
  grid-column-gap: 11px;
  width: 443px;
  height: 50px;
  outline: 1px solid blue;
  outline-offset: -5px;
}

.page-list-item {
  outline: 2px solid gold;
  outline-offset: -5px;
}

.next {
  line-height: 18px;
  color: var(--basic-black);
}






